<!DOCTYPE html>
<html>
    <head>
        <title> Proyecto final </title>
        <link rel="stylesheet" href="../css/styles.css" />
        <script defer src="../js/render.js"></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <div class="shopping_list"> 
                <div class="inputbox">
                    <h2>Lista de compras: </h2>
                    <form>
                        <input type="checkbox" value="frutas" id="frutas">Frutas</input><br>
                        <input type="checkbox" id="verduras">Verduras</input><br>
                        <input type="checkbox" id="carnes">Carnes</input><br>
                        <input type="checkbox" id="pescado">Pescado</input><br>
                        <input type="checkbox" id="lacteos">Lácteos</input><br>
                        <input type="checkbox" id="bebidas">Bebidas</input><br>
                        <input type="checkbox" id="cereales">Cereales</input><br>
                        <input type="checkbox" id="pan">Pan</input><br>
                        <input type="checkbox" id="higiene">Higiene</input><br>
                        <input type="checkbox" id="limpieza">Limpieza</input><br>   
                        <br>
                        <button type="button" class="submit_button" id="sbt_button">A comprar!</button>
                        <button type="button" class="clear_button" id="clr_button"> Limpiar </button>
                    </form>
                </div>
            </div>
            <div class="super_mkt_map">
                <h1 style="text-align: center;"> Supermercado </h1>
                <table id="table">
                    <tr>
                        <td id="0-0"></td>
                        <td id="1-0"></td>
                        <td id="2-0"></td>
                        <td id="3-0"></td>
                        <td id="4-0" style="background-color: greenyellow;">Lim</td>
                        <td id="5-0" style="background-color: greenyellow;">pie</td>
                        <td id="6-0" style="background-color: greenyellow;">za</td>
                        <td id="7-0" style="background-color: greenyellow;"></td>
                        <td id="8-0"></td>
                        <td id="9-0"></td>
                        <td id="10-0"></td>
                        <td id="11-0" style="background-color: greenyellow;">Pan</td>
                    </tr>
                    <tr>
                        <td id="0-1" style="background-color: blue"> E </td>
                        <td id="1-1"></td>
                        <td id="2-1"></td>
                        <td id="3-1"></td>
                        <td id="4-1"></td>
                        <td id="5-1"></td>
                        <td id="6-1"></td>
                        <td id="7-1"></td>
                        <td id="8-1"></td>
                        <td id="9-1" style="background-color: greenyellow;">Car</td>
                        <td id="10-1"></td>
                        <td id="11-1" style="background-color: greenyellow;"></td>
                    </tr>
                    <tr>
                        <td id="0-2" style="background-color: gray;">Wall</td>
                        <td id="1-2" style="background-color: gray"></td>
                        <td id="2-2" style="background-color: gray; color:black">Wall</td>
                        <td id="3-2" ></td>
                        <td id="4-2" style="background-color: greenyellow;">Hi</td>
                        <td id="5-2" style="background-color: greenyellow;">gie</td>
                        <td id="6-2" style="background-color: greenyellow;">ne</td>
                        <td id="7-2" style="background-color: greenyellow;"></td>
                        <td id="8-2"></td>
                        <td id="9-2" style="background-color: greenyellow;">nes</td>
                        <td id="10-2"></td>
                        <td id="11-2" style="background-color: greenyellow;"></td>
                    </tr>
                    <tr>
                        <td id="0-3"></td>
                        <td id="1-3"></td>
                        <td id="2-3" style="background-color: yellow; color:black">C</td>
                        <td id="3-3"></td>
                        <td id="4-3"></td>
                        <td id="5-3"></td>
                        <td id="6-3"></td>
                        <td id="7-3"></td>
                        <td id="8-3"></td>
                        <td id="9-3" style="background-color: greenyellow;"></td>
                        <td id="10-3"></td>
                        <td id="11-3"></td>
                    </tr>
                    <tr>
                        <td id="0-4"></td>
                        <td id="1-4"></td>
                        <td id="2-4"></td>
                        <td id="3-4"></td>
                        <td id="4-4" style="background-color: greenyellow;">Ce</td>
                        <td id="5-4" style="background-color: greenyellow;">rea</td>
                        <td id="6-4" style="background-color: greenyellow;">les</td>
                        <td id="7-4" style="background-color: greenyellow;"></td>
                        <td id="8-4"></td>
                        <td id="9-4"></td>
                        <td id="10-4"></td>
                        <td id="11-4"></td>
                    </tr>
                    <tr>
                        <td id="0-5"></td>
                        <td id="1-5"></td>
                        <td id="2-5" style="background-color: yellow; color:black">C</td>
                        <td id="3-5"></td>
                        <td id="4-5"></td>
                        <td id="5-5"></td>
                        <td id="6-5"></td>
                        <td id="7-5"></td>
                        <td id="8-5"></td>
                        <td id="9-5" style="background-color: greenyellow;">Pes</td>
                        <td id="10-5"></td>
                        <td id="11-5"></td>
                    </tr>
                    <tr>
                        <td id="0-6"></td>
                        <td id="1-6"></td>
                        <td id="2-6"></td>
                        <td id="3-6"></td>
                        <td id="4-6" style="background-color: greenyellow;">Lác</td>
                        <td id="5-6" style="background-color: greenyellow;">teos</td>
                        <td id="6-6" style="background-color: greenyellow;"></td>
                        <td id="7-6" style="background-color: greenyellow;"></td>
                        <td id="8-6"></td>
                        <td id="9-6" style="background-color: greenyellow;">ca</td>
                        <td id="10-6"></td>
                        <td id="11-6" style="background-color: greenyellow;">Ver</td>
                    </tr>
                    <tr>
                        <td id="0-7" style="background-color: red;">S</td>></td>
                        <td id="1-7"></td>
                        <td id="2-7" style="background-color: yellow; color:black">C</td>
                        <td id="3-7"></td>
                        <td id="4-7"></td>
                        <td id="5-7"></td>
                        <td id="6-7"></td>
                        <td id="7-7"></td>
                        <td id="8-7"></td>
                        <td id="9-7" style="background-color: greenyellow;">dos</td>
                        <td id="10-7"></td>
                        <td id="11-7" style="background-color: greenyellow;">du</td>
                    </tr>
                    <tr>
                        <td id="0-8"></td>
                        <td id="1-8"></td>
                        <td id="2-8"></td>
                        <td id="3-8"></td>
                        <td id="4-8" style="background-color: greenyellow;">Be</td>
                        <td id="5-8" style="background-color: greenyellow;">bi</td>
                        <td id="6-8" style="background-color: greenyellow;">das</td>
                        <td id="7-8" style="background-color: greenyellow;"></td>
                        <td id="8-8"></td>
                        <td id="9-8"></td>
                        <td id="10-8"></td>
                        <td id="11-8" style="background-color: greenyellow;">ras</td>
                    </tr>
                    <tr>
                        <td id="0-9"></td>
                        <td id="1-9"></td>
                        <td id="2-9" style="background-color: yellow; color:black">C</td>
                        <td id="3-9"></td>
                        <td id="4-9"></td>
                        <td id="5-9"></td>
                        <td id="6-9"></td>
                        <td id="7-9"></td>
                        <td id="8-9"></td>
                        <td id="9-9" style="background-color: greenyellow;">Fru</td>
                        <td id="10-9" style="background-color: greenyellow;">tas</td>
                        <td id="11-9" style="background-color: greenyellow;"></td>
                    </tr>
                </table>
            </div>
        </div>    
    </body>

</html>