<!DOCTYPE html>
<html>
    <head>
        <title> Proyecto final </title>
        <link rel="stylesheet" href="../css/styles.css"></link>
        <script defer src="../js/render.js"></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <div class="shopping_list"> 
                <div class="inputbox">
                    <h2>Lista de compras: </h2>
                    <form>
                        <input type="checkbox" id="frutas">Frutas</input><br>
                        <input type="checkbox" id="verduras">Verduras</input><br>
                        <input type="checkbox" id="carnes">Carnes</input><br>
                        <input type="checkbox" id="limpieza">Pescado</input><br>
                        <input type="checkbox" id="lacteos">Lácteos</input><br>
                        <input type="checkbox" id="bebidas">Bebidas</input><br>
                        <input type="checkbox" id="cereales">Cereales</input><br>
                        <input type="checkbox" id="pan">Pan</input><br>
                        <input type="checkbox" id="higiene">Higiene</input><br>
                        <input type="checkbox" id="limpieza">Limpieza</input><br>   
                        <br>
                        <button type="button" class="submit_button" id="sbt_button">A comprar!</button>
                    </form>
                </div>
            </div>
            <div class="super_mkt_map">
                <h1 style="text-align: center;"> Supermercado </h1>
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: greenyellow;">Lim</td>
                        <td style="background-color: greenyellow;">pie</td>
                        <td style="background-color: greenyellow;">za</td>
                        <td style="background-color: greenyellow;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: greenyellow;">Pan</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: greenyellow;">Car</td>
                        <td></td>
                        <td style="background-color: greenyellow;"></td>
                    </tr>
                    <tr>
                        <td style="background-color: blue;;">E</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: greenyellow;">Hi</td>
                        <td style="background-color: greenyellow;">gie</td>
                        <td style="background-color: greenyellow;">ne</td>
                        <td style="background-color: greenyellow;"></td>
                        <td></td>
                        <td style="background-color: greenyellow;">nes</td>
                        <td></td>
                        <td style="background-color: greenyellow;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="background-color: yellow; color:black">C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: greenyellow;"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="background-color: yellow; color:black">C</td>
                        <td></td>
                        <td style="background-color: greenyellow;">Ce</td>
                        <td style="background-color: greenyellow;">rea</td>
                        <td style="background-color: greenyellow;">les</td>
                        <td style="background-color: greenyellow;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="background-color: yellow; color:black">C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: greenyellow;">Pes</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="background-color: yellow; color:black">C</td>
                        <td></td>
                        <td style="background-color: greenyellow;">Lác</td>
                        <td style="background-color: greenyellow;">teos</td>
                        <td style="background-color: greenyellow;"></td>
                        <td style="background-color: greenyellow;"></td>
                        <td></td>
                        <td style="background-color: greenyellow;">ca</td>
                        <td></td>
                        <td style="background-color: greenyellow;">Ver</td>
                    </tr>
                    <tr>
                        <td style="background-color: red;">S</td>></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: greenyellow;">dos</td>
                        <td></td>
                        <td style="background-color: greenyellow;">du</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: greenyellow;">Be</td>
                        <td style="background-color: greenyellow;">bi</td>
                        <td style="background-color: greenyellow;">das</td>
                        <td style="background-color: greenyellow;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: greenyellow;">ras</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="background-color: greenyellow;">Fru</td>
                        <td style="background-color: greenyellow;">tas</td>
                        <td style="background-color: greenyellow;"></td>
                    </tr>
                </table>
            </div>
        </div>    
    </body>

</html>